/* TODAS AS TAGS CRUAS SÃO TRATADAS NO COMEÇO SCRIPT POR DEFINIR O GERAL */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    height: 99vh;
    margin: 0;
    align-items: flex-start;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
} */

nav {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    gap: 5px;
}

a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

a img {
    width: 2vw;
    height: 4vh;
}


/* PAINEL DA ESQUERDA */
#painel-esquerda {
    height: 95vh;
    width: 12%;
    border-right: 4px solid #001114;
    color: black;
    margin-top: 18px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

#logo {
    width: clamp(4rem, 210px, 14rem);
    height: clamp(3rem, 200px, 12rem);
}

#tela-atual {
    border-radius: 5px;
    background: linear-gradient(90deg, #000000, rgb(4, 4, 121), #3533cd);
    color: white;
}


/* CONTEUDO GERAL */
#conteudo-geral {
    display: flex;
    flex-direction: column;
    width: 88%;
}


/* CABEÇALHO */
#cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#cabecalho h1 {
    color: #043b4d;
}


/* KPIS */
#kpis {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.kpi {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 19vw;
    height: 15vh;
    border: 2px solid #464646;
    border-radius: 20px;
    padding: 5px;
    /* gap: 25px; */
    font-size: clamp(0.9rem, 1rem, 2.5rem);
}

.icons {
    /* position: fixed; */
    margin-left: 0;
    width: clamp(3rem, 50px, 7rem);
    height: clamp(3rem, 50px, 7rem);
}

#conteudo-kpi {
    margin-left: 25px;
}

/* PAINEL GERAL */
#main-painel-geral {
    display: flex;
    width: 100%;
    flex-direction: row;
}



/* MÁQUINAS */
.maquinas {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 1.5vw;
    padding: 1.5rem 1.5rem 0 1.5rem;
    flex-wrap: wrap;
    font-size: clamp(1rem, 1.2rem, 3rem);
}

.maquinas h3 {
    font-size: clamp(1.2rem, 1.5rem, 3rem);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.card-maquina {
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 1.5rem;
    width: 29vw;
    height: 20vh;
}

.card-maquina p {
    padding-bottom: 1rem;
    border-bottom: 4.5px solid rgba(110, 110, 110, 0.723);
}

.status-bolinha {
    width: 3rem;
    height: 3rem;
}


#stts_ok {
    font-weight: bold;
    color: rgb(12, 142, 12);

}

#stts_perigo {
    font-weight: bold;
    color: rgb(220, 224, 0);
}

#stts_critico {
    font-weight: bold;
    color: rgb(229, 0, 0);
}


/* ALERTAS */
#alertas {
    display: flex;
    width: 25%;
    height: auto;
    gap: 10px;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.5rem 0;
}

.alerta {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #464646;
    width: 15vw;
    border-radius: 20px;
    padding: 5px;
    gap: 10px;
}