/* TODAS AS TAGS CRUAS SÃO TRATADAS NO COMEÇO SCRIPT POR DEFINIR O GERAL */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    background-color: #fff;
}


/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    font-size: 15px;
    /* padding: 0 1rem 0 0; */
}

.logo {
    padding-left: 4vw;
}

.logo img {
    width: clamp(2rem, 110px, 7rem);
    height: clamp(2rem, 110px, 7rem);
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    /* margin-left: 3rem; */
}

.navbar-links a {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
    color: #5a61a1;
    cursor: pointer;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #000266 !important;
    text-decoration: underline;
    transform: scale(1.05);

}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-left: 5rem;
}

#conta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3vw;
    gap: 20px;
}

.navbar-links a.pagina-atual {
    font-weight: bold;
    text-decoration: underline;
    color: #353960;
}

.minha-conta img {
    display: flex;
    justify-content: center;
    width: clamp(10px, 20px, 30px);
    height: clamp(10px, 20px, 30px);
    margin-left: 5px;
}

#suporte-jira {
    display: flex;
    justify-content: center;
    width: clamp(20px, 40px, 40px);
    height: clamp(20px, 40px, 40px);
}

/* CONTEUDO GERAL */
#conteudo-geral {
    display: flex;
    flex-direction: row;
    width: 98%;
}


/* CABEÇALHO */
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 93%;
}

#cabecalho h1 {
    color: #043b4d;
    margin-top: 0;
    padding-top: 0;

}

#titulo-maq {
    width: 90%;
}

#maquina-exibe {
    margin-top: 0;
    padding: 0.5rem;
    width: 35vw;
    border: 2px solid #464646;
    border-radius: 10px;
}


/* GRÁFICOS */
#main-painel-graficos {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 2.5vw;
}

.graficos {
    display: flex;
    flex-direction: row;
    width: 63vw;
    height: auto;
    gap: 1vw;
    padding-right: 2.5rem;
    flex-wrap: wrap;
}

.graficos p {
    font-size: clamp(0.5rem, 1rem, 3rem);
}

.graficos-componentes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 1.5rem;

    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

.grafico-gauge-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 0.5rem;
    width: 15vw;
    height: 20vh;
}

.card-grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 0.5rem;
    width: 21vw;
    height: 20vh;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

#chart-apex {
    display: flex;
    align-items: center;
    justify-items: center;
    width: auto;
    height: auto;
}

/* ALERTAS */
#alertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: auto;
    gap: 10px;
    border: 3px solid #D4D4D4;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0.15, 0, 0, 0.15);
    padding: 0.7rem 1rem;
    overflow-y: auto;
}

.kpi {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 19vw;
    height: 15vh;
    border: 2px solid #464646;
    border-radius: 10px;
    padding: 5px;
    font-size: clamp(0.9rem, 1rem, 2.5rem);
}

.kpi h2 {
    margin-bottom: 0;
}

.icons {
    margin-left: 0;
    width: clamp(3rem, 50px, 7rem);
    height: clamp(3rem, 50px, 7rem);
}

#conteudo-kpi {
    margin-left: 25px;
}

.alerta {
    display: flex;
    align-items: center;
    width: 17vw;
    height: 10vh;

    border: 2px solid #464646;
    border-radius: 10px;
    padding: 1rem;
    gap: 10px;
}

.alerta p {
    font-weight: bold;
}

.alerta span {
    font-weight: normal;
}