/* TODAS AS TAGS CRUAS SÃO TRATADAS NO COMEÇO SCRIPT POR DEFINIR O GERAL */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    height: 99vh;
    margin: 0;
    align-items: flex-start;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    gap: 5px;
}

a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

a img {
    width: 2vw;
    height: 4vh;
}


/* PAINEL DA ESQUERDA */
#painel-esquerda {
    height: 95vh;
    width: 12%;
    border-right: 4px solid #001114;
    color: black;
    margin-top: 18px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

#logo {
    width: clamp(4rem, 210px, 14rem);
    height: clamp(3rem, 200px, 12rem);
}

#tela-atual {
    border-radius: 5px;
    background: linear-gradient(90deg, #000000, rgb(4, 4, 121), #3533cd);
    color: white;
}


/* CONTEUDO GERAL */
#conteudo-geral {
    display: flex;
    flex-direction: column;
    width: 88%;
}


/* CABEÇALHO */
#cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#cabecalho h1 {
    margin-bottom: 0;
    color: #043b4d;
}

#maquina-exibe {
    margin-left: 1.5rem;
    padding: 0.5rem;
    width: 35vw;
    border: 2px solid #464646;
    border-radius: 10px;
}


/* KPIS */
#kpis {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.kpi {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 19vw;
    height: 15vh;
    border: 2px solid #464646;
    border-radius: 10px;
    padding: 5px;
    font-size: clamp(0.9rem, 1rem, 2.5rem);
}

.kpi h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#conteudo-kpi {
    margin-left: 25px;
}


/* PAINEL GERAL */
#main-painel-geral {
    display: flex;
    width: 100%;
    flex-direction: row;
}


/* GRÁFICOS */
.graficos {
    display: flex;
    flex-direction: row;
    width: 63vw;
    height: auto;
    gap: 1vw;
    padding: 1.5rem 1.5rem 0 1.5rem;
    flex-wrap: wrap;
    /* font-size: clamp(1rem, 1.2rem, 3rem); */
}

.graficos p {
    font-size: clamp(0.5rem, 1rem, 3rem);
}

.grafico-gauge-chart {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 0.5rem;
    width: 15vw;
    height: 20vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-grafico {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 0.5rem;
    width: 21vw;
    height: 20vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* ALERTAS */
#alertas {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 25%;
    height: auto;
    gap: 10px;
    padding: 1.5rem 1.5rem 1.5rem 0;

    color: black;
}

.alerta {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #464646;
    width: 15vw;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}