/* TAG ELEMENTAIS FICAM NO COMEÇO POR AFETAREM TUDO */
body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    background-color: #fff;
    margin-left: 15vw;
}


/* ======= NAVBAR (ESQUERDA) ======= */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15vw;
    background-color: #f8f9fc;
    border-right: 2px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar-logo img {
    width: 90%;
    max-width: 130px;
    height: auto;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    width: 100%;
}

.sidebar-links li {
    width: 100%;
}

.sidebar-links a {
    display: block;
    padding: 1rem 2rem;
    color: #5a61a1;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #e8eaf6;
    color: #000266;
    transform: translateX(5px);
}

.sidebar-links a.active {
    font-weight: bold;
    color: #353960;
    border-left: 4px solid #353960;
    background-color: #e8eaf6;
}

#componente-exibe {
    margin-left: 0%;
    width: 15vw;
}

#componente-exibe :hover {
    background-color: #e8eaf6;
    color: #000266;
    transform: translateX(5px);
}

details summary {
    cursor: pointer;
    padding: 0.5rem 2rem;
    list-style: none;
    color: #5a61a1;
    font-weight: 500;
}

details nav ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    font-size: 90%;
}

details nav a:hover {
    color: #000266;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

}

.sidebar-bottom a {
    color: #5a61a1;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar-bottom a:hover {
    color: #000266;
    transform: scale(1.05);
}

.sidebar-bottom img {
    width: 35px;
    height: 35px;
}

.sidebar-bottom p {
    font-size: 0.9rem;
    color: #353960;
    margin: 0;
}


/* ======= CABEÇALHO ======= */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    padding-left: 15px;
}

.header h1 {
    color: #043b4d;
    margin-top: 0.5%;
    padding-top: 0.5%;
    width: 20vw;

}

#machine-options {
    width: 40%;
}

#machines {
    margin-top: -5%;
    padding: 0.5rem;
    width: 27vw;
    border: 2px solid #464646;
    border-radius: 10px;
}

#user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 5vh;
    gap: 5px;
    margin-left: 30%;
    padding: 3px;
}

#user-icon {
    width: 2vw;
    height: 4vh;
    padding: 3px;
    border-radius: 50px;
    background-color: #016496;
}

/* ======= CONTÊINER GERAL ======= */
#container-all {
    display: flex;
    flex-direction: row;
    /* border: black solid; */
    height: 87vh;
    width: 99%;
    margin: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 65vw;
    height: 100%;
}


/* ======= KPIs ======= */
#all-kpis {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    gap: 22px;
}

.kpi {
    width: 20vw;
    border: solid 2px black;
    border-radius: 25px;
    height: 90px;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: small;
}

.kpi b {
    font-size: x-large;
}

#conteudo-kpi {
    margin-left: 7px;
}


.kpi {
    width: 20%;
    border: solid .5px black;
    border-radius: 25px;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: small;
    box-shadow: black .5px .5px 2px 0px;
}

.kpi b {
    font-size: x-large;
}


/* ======= GRÁFICOS ======= */
#all-graphics {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100%;
    gap: 15px;
    margin-left: 5px;
}

#histograms {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.histogram {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    height: 10vw;
    width: 40vh;
}

#graphics {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.graphic {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    width: 90vh;
    height: 16vw;
    /* box-shadow: 4px 4px 10px 7px rgba(0, 0, 0, 0.3); */
}

/* ======= ALERTAS ======= */
.all-alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    height: 85%;
    width: 20%;
    margin-left: 23px;
    gap: 20px;
}

#kpi-alerta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 0.5px black;
    border-radius: 25px;
    width: 17vw;
}

#alert-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 17vw;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    gap: 15px;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.alerts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    border: solid 2px black;
}